/*
body {
  background-color: #333;
}

#flapbird {
  border: 2px solid white;
  width: 288px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
*/

html, body {
    margin: 0;
    padding: 0;
    transform: transale3d(0,0,0);
    width:100%;
    height:100%;
    background-color: black;
}